#random-ticker {
	background: #f0f0f0;
	border-radius: 8px;
	margin-top: 20px;
	margin-bottom: 20px;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 20px 20px -12px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 20px 20px -12px;
	box-shadow: rgba(0, 0, 0, 0.2) 0 20px 20px -12px;
}
h1 {
	font-weight: bold;
	font-size: 24px;
}
.list-group-item-label {
	font-size: 18px;
	font-weight: bold;
}
.list-group-item-value {
	float: right;
	font-size: 18px;
}
